*.swp
cache
createapidoc.sh
apidoc.json
.idea
log
.project
var
config/scm_config.php
.settings
node_modules/
nohup.out
bower_components
.DS_Store
._.DS_Store
._*
.php_cs.cache
npm-debug
bdlog
bdlog.wf
# dev# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
